body * {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #d6d6d6;
}

.chat-container {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    height: 90%;
    padding: 30px;
}

.feed-container {
    display: flex;
    height: 80%;
}

.users-list > div {
    padding: 15px;
    border-radius: 7.5px;
    background-color: rgba(225, 245, 254, 0.92);
    margin-top: 10px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13)
}

.users-list > div:nth-child(even) {
    color: white;
    background-color: rgb(21, 196, 154);
}

.message_content {
    display: inline-flex;
    word-break: break-word;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 25px 10px 10px;
    background: white;
    border-radius: 5px;
    color: #262626;
    margin-bottom: 10px;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.user_connected {
    font-style: italic;
    color: #717171;
    text-align: center;
    margin: 10px 0;
}

.message.mine {
    display: flex;
    flex-direction: row-reverse;
}

.message.mine .message_content {
    background: rgb(220, 248, 198);

}

.message_author {
    margin-bottom: 5px;
    font-weight: bold;
}

.message-feed {
    background: #d6d6d6;
    color: black;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-right: 15px;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
    overflow-y: auto;
}

.send-message {
    margin: auto;
    margin-top: 15px;
}

#send-message-form {
    display: flex;
}

#message-input {
    flex: 1 1 100%;
    padding: 10px;
}

